body{
  background-color: #ecf0f1;
}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: #ecf0f1;
  /* font-family: 'Comfortaa', cursive; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rd {
  display: flex;
}

.detr{
  width: 6%;
  border-radius: 4px;
  background: red;
}
.cnsta{
  width: 79%;
}
.btsup{
  /* width: 6%;*/
  border-radius: 4px;
  border-radius: 4px;
  background: red;
  height: 10%;
  margin-top: 74px;
  margin-left: -12px;
}

.admd{
  margin-top: 4%;
    width: 898px;
}

.rr{
  margin-left:56%;
  margin-top: 40px;
}

.lablef{
  margin-left:56%;
  margin-top: 60px;
}

.mglft{
  margin-left: 37%;
}

.soci{
  margin-left:21%;
}

.tstbor{
  border: white;
}

.mgt{
  margin-top: 3%;
}

.sam{
  color: white;
}

.changepwd {
  margin-top: 75px;
}

.wdar{
  width: 130%;
  margin-left: -17%;
}
.ratp{
  margin-top: 4%;
 /* height: 100px;*/
}

.sntri{
  top: 20px;
}

.sncf{
  top: 35px;
  height: 100px;
}

.lgn{
  font-size: 24px;
}

.bntaj{
  position: fixed;
  margin-left: 1%;
}

.vldcr{
  margin-top: 3%;
}

.lstcr{
  margin-top: 6%;
}

.chm{
  font-size: 24px;
  color: white;
  margin-left: 30px;
}

.labla{
  margin-left: 30%;
}

.lines{
  width: 94%;
  height: 20px;
  border-bottom: 2px solid black;
  position: absolute;
  }

  .starl{
    width: 94%;
    height: 5px;
    border-bottom: 2px solid black;
    position: absolute;
    }

.desc{
  margin-left: 43px;
    /* width: 20px; */
    top: 35px;
}

.arcv{
  width: 110%;
    height: 170px;
}

.phot{
  width: 30%;
  height: 10%;
  margin-left: 30px;
}

.frm{
  margin-left: 60px;
}

.bakgr{
  background-color: white;
}

.bkrgnd{
  background-image: url("./bakphot.jpg");
  border-radius: 10px;
}

.ajt{
  margin-left: 94%; 
  margin-top: 5px;
  border-radius: 4px; 
  width: 43px; 
  padding-top: 6px; 
  background: green
}

.klm{
  margin-left: 97%; 
  margin-top: 5px;
  border-radius: 4px; 
  width: 43px; 
  padding-top: 6px; 
  background: green
}

.sizm{
  font-size: small;
  margin-left: -25px;
  margin-top: 6px;
}
.abcT{
  margin-left: 536px;
}
.abcX{
  margin-left: 480px;
}
.abcH{
  width: 15%;
  margin-top: -5%;
  margin-left: 10px;
  height: 97px;
}
.abcW{
  margin-top: 6%;
}
.abcN{
  margin-top: 19%;
  margin-left: 31px;
}
.abcM{
  margin-left: -60px;
}
.abcG{
  margin-top: 5%;
}
.abcO{
  margin-top: 20%;
  margin-left: 38%;
}
.abcdA{
  margin-left: 36px;
}
.abcdB{
  margin-left: 8px;
}
.abcdC{
  font-size: 13px;
}
.abcdD{
  font-weight: 700;
    font-size: 20px;
}
.abcdE{
  margin-top: 26%;
}
.abcdF{
  margin-top: 30px;
  margin-left: 540px;
}
.abcdG{
  margin-left: 67px;
}
.abcdH{
  margin-left: 19px;
}
.abcdI{
  font-weight: 700;
}
.abcdK{
  margin-left: 73px;
}
.abcdL{
  margin-left: -30px;
}
.abcdM{
  margin-left: -50px;
}
.abcdMa{
  margin-left: -43px;
  width: 91px;
}
.abcdN{
  margin-left: -70px;
}
.abcdO{
  width: 76px;
    margin-left: -90px;
}
.abcdP{
  margin-left: -80px;
}
.abcdX{
  margin-left: 20px;
}
.abcdW{
  margin-left: -224%;
    margin-top: 9%;
}
.abcdeA{
  font-size: small;
  margin-left: -25px;
  margin-top: 6px;
}
.abcdeB{
  font-size: small;
  margin-left: -40px;
  margin-top: 6px;}
.abcdeC{
  margin-left: -91px;
}
.abcdeD{
  margin-left: -91px;
    width: 55px;
}
.abcdeE{
  margin-left: -89px;
  width: 65px;
}
.aunit{
  margin-left: -88px;
  width: 76px;
}
.abcdeF{
  margin-left: -76px;
  width: 72px;
}
.abcdeG{
  margin-left: -57px;
  width: 74px;
}
.abcdeK{
  margin-left: -38px;
  width: 70px;
}

.montn{
  font-size: small;
    margin-left: -38px;
    margin-top: 6px;
}
.tvta{
  font-size: small;
    margin-left: -53px;
    margin-top: 6px;
}
.tjmt{
  font-size: small;
    margin-left: -65px;
    margin-top: 6px;
}
.dobline{
  width: 100%;
  margin-left: -82%;
    height: 20px;
    border-bottom: 2px solid black;
    position: absolute;
    margin-top: 7%;
}
.abcK{
  margin-top: 20px;
}
.abcP{
  margin-top: 15px;
}
.abcI{
  width: 90%;
  margin-left: 30px;
}
.finbt{
  margin-left: -36px;
}
.abcB{
  background: #1060b5;
  font-size: small;
}
.abcC{
  color: white;
}

.tsta{
  margin-left: -166%;
    margin-top: 36px;
}

.tstb{
  margin-left: -255%;
    margin-top: 36px;
}
.tstc{
  margin-left: -360%;
    margin-top: 36px;
}
.tstd{
  margin-left: -454%;
    margin-top: 36px;
}
.tste{
  margin-left: -547%;
    margin-top: 36px;
}
.cnann{
  margin-left: 8px;
}
.tstf{
  margin-left: -630%;
    margin-top: 36px;
}
.vtavt{
  margin-left: -59px;
    width: 74px;
}
.mnotmn{
  margin-left: -40px;
    width: 70px;
}
.tstg{
  margin-left: -699%;
    margin-top: 36px;
}

.tnjtn{
  margin-left: -72px;
    width: 72px;
}

.qtes{
  margin-top: 37px;
}

.qimzq{
  font-size: small;
  margin-left: 7px;
  margin-top: 6px;
}
.quant{
  font-size: small;
  margin-left: -90px;
  margin-top: 6px;
}

.unit{
  font-size: small;
    margin-left: -76px;
    margin-top: 6px;
}
.tlmjm{
  margin-top: -12%;
    margin-left: 99%;
}
.alin{
  display: flex;
}

.pls{
  color: white; 
  margin-left:34%
}

.plsa{
  color: white
}

#input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  font: -moz-field;
  font: -webkit-small-control;
  margin-top: 5px;
  padding: 2px 3px;
  width: 398px;    
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cra{
  min-width: 100%;
  margin-bottom: 15px;
  
}
.status{
  min-width: 100px;
  margin-top: 5px;
}

.taches{
  min-width: 35vh;
  align-items: center;
}

#user{
  margin-left: 0px;
  color: white;
}
#weekend{
  background-color: black;
}
#table{
  margin-top: 100px;
  border: none;
}

.nopt{
  margin-top: 20px;
}

.tr{
  border: none;
}
.td
{
  border: none;
}
.nav{
  min-width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.jumbotron{
  background-color: #485460;
}
.App-link {
  color: #61dafb;
}

.nbt{
  background-color: black;
}

.backtotal{
  background-image: url("./phtab.jpg");
  height: 230px;
}

.container{
  margin-top: 55px;
  min-width: 100%;
  color: black;
}
#table{
  border: 0;
  border-collapse : collapse;
}
.default_total{
  background-color: cadetblue;
}
.valid_total{
  background-color: cadetblue;
  color:green;
  border-color: green;
  align-items: center;
}
.invalid_total{
  background-color: cadetblue;
  color:red;
  border-color: red;
  align-items: center;
}
.addButton{
  margin-top: 50px;
}
.logo{
margin-top: 0;
}
.table{
  margin-top: 50px;
}
#header{
  background-color: #b2bec3;
  color:black;
}
.footer{
  margin-top: 4%;
}
.cra{
  width: 50px;
 overflow-x: scroll;
 align-items: center;
}
h1{
  margin-top: 125px;;
  color: black;
}
.uc{
  margin-top: 150px;
}
h2{color: white;
margin-top: 125px;}

.lmonth{  
  margin-top: -1%;
}

input{
  text-align:center;
}
#t_profil{
  max-width: 80%;
  color: black;
  margin-top: 100px;
  text-align: center;
  

}
#Sum{
  width: 50px;
  color: black;
}

.nas{
  margin-left: 50px;
}

.defla{
  padding-top: 4%;
    height: 220px;
   /* margin-left: -14px;
    width: 103%; */
}

.total{
  background-color: white;
  color:black
}
.logform
{
  margin: 100px auto;
  min-height: 70vh;
  width: 50vh;
  align-items: center;
  color : black;
  border-radius: 10px 10px 10px 10px ;
}
.form{
margin-top: -30px;
margin-left: 15px;
padding-top: 55px;
margin-right: 15px;
}
.lab{
  margin-top: 15px;
}
#submit{
  margin-top: 75px;
}
.isWeekEnd{
  background-color: black !important;

}

.profilrow{
  margin-top: 150px;
}
.profil{
  text-align: center;
}
.headprofil{
  background-color: #ff9f43;
  color: black;
  

}
.changepwd {
  margin-top: 75px;
}
.headrow{
  height: 40px;
  border-radius: 5px 5px 5px 5px;
}
.modal_items_position{
  text-align: left;
  background-color: #ecf0f1;
}
.modalheader
{
  background-color: #ecf0f1;
}
.modalfooter
{
  background-color: #ecf0f1;
}

.error{
  margin-top: 15px;
  color: red;
}
.success{
  margin-top: 15px;
 color:green 
}
.warning{
  margin-top: 15px;
 color:orange 
}

.view-cra{
  margin-top: 75px;
}
.bas{
  color:red;
  font-weight: bolder;
}
.assezmoyen{
  color:orangered;
  font-weight: bolder;
}
.moyen{
  color: orange;
  font-weight: bolder;
}
.haut{
  color: green;
  font-weight: bolder;
}
.conges{
  color:white
}
.conges_container{
  margin-top: 50px;
}
#navbarDropdown,#logout,#profil,#user{
  color: white;
  font-size: 14px;
  margin-top: 2px;
}
#profil{
  color:white;
  font-size: 14px;
  margin-top: 2px;
}
#navbar{
  height: 40px;
}
#logo-nav{
  border-radius: 5px 5px 5px 5px;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

